<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Documentation</title>
        {{ range $indexTr, $tag := .Head }}{{ $tag.Tag }}{{end}}
    </head>
    <body>
        {{ range $indexTr, $tag := .Body }}{{ $tag.Tag }}{{end}}
    </body>
</html>